dash==2.17.1
dash-bootstrap-components==1.6.0
plotly==5.22.0
opencv-python-headless==4.9.0.80
numpy==1.26.4
Pillow>=10.0.0,<11
flask==3.0.3
ultralytics==8.2.18
gunicorn==22.0.0
torch==2.3.1
torchvision==0.18.1